<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProcesoCrud.Properties.Settings.cn" connectionString="Data Source=DESKTOP-K7UNCTL\SQLEXPRESS;Initial Catalog=BD_CRUD;User ID=User_Culajay;Password=12345;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>